@import "bootstrap/overrides/variables.less";
@import "../../bower_components/bootstrap/less/mixins.less";

h1,
h2,
.btn-primary {
  font-family: "Fjalla One", @font-family-base;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h2 {
  margin-top: 0;
  margin-bottom: 1em;
}

a {
  font-weight: 500;
}

section {
  padding: 4em 0;
}

footer {
  padding: 2em 0;
  text-align: center;
}

.cosmetic-strip {
  height: 1em;
  background-color: #fff;
  border-bottom: 2px solid @gray-lighter;
}

.section-light {
  background-color: #fff;
  border-top: 1px solid @gray-lighter;
  border-bottom: 1px solid @gray-lighter;
}

.testimonials-container {
  border: 2px solid @gray-darker;

  h2 {
    text-align: center;
    margin-top: -0.5em;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: @custom-white-darker;
  }
}

.img-circle {
  border: 2px solid @custom-white-darker;
}

.thumbnail {
  background-color: #fff;
}

// Blockquotes
blockquote {
  padding: (@line-height-computed / 2) @line-height-computed;
  margin: 0 0 @line-height-computed;
  font-size: @blockquote-font-size;
  border-left: none;

  p {
    margin-top: 0.5em;
  }

  p,
  ul,
  ol {
    &:last-child {
      margin-bottom: 0;
    }
  }

  // Note: Deprecated small and .small as of v3.1.0
  // Context: https://github.com/twbs/bootstrap/issues/11660
  footer,
  small,
  .small {
    display: block;
    font-size: 80%; // back to default font-size
    line-height: @line-height-base;
    color: @blockquote-small-color;

    &:before {
      content: none; // em dash, nbsp
    }
  }
}

// Opposite alignment of blockquote
//
// Heads up: `blockquote.pull-right` has been deprecated as of v3.1.0.
.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: none;
  border-left: 0;
  text-align: right;

  // Account for citation
  footer,
  small,
  .small {
    &:before { content: ''; }
    &:after {
      content: none;
    }
  }
}

@media (min-width: @screen-md-min) {
  .btn-xl {
    .button-size(@padding-large-vertical; @padding-large-horizontal; @font-size-large * 2; @line-height-large * 1.4; @btn-border-radius-large * 1.4);

    box-shadow: inset 0px 1px 1px #909193,
                      0px 1px 0px @custom-white,
                      4px 4px 4px @custom-white-darker,
                      -4px -4px 4px @custom-white-darker,
                      -4px 4px 4px @custom-white-darker,
                      4px -4px 4px @custom-white-darker;
  }
 }
